<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672236617945-q6v4jh5keiq65223oj2hib5bgdc60ihs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672236617945-q6v4jh5keiq65223oj2hib5bgdc60ihs</string>
	<key>API_KEY</key>
	<string>AIzaSyBkaz9FbiawRuwQSgLoLRLgkIM2Nryh8Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>672236617945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ahmedattia.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-ce42e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-ce42e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672236617945:ios:ce881820216c9bbb</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-ce42e.firebaseio.com</string>
</dict>
</plist>